<h1> API </h1>
<h2> README </h2>
<p>Prefix Verb URI Pattern Controller#Action
<br />new_user_session GET /users/sign_in(.:format) devise/sessions#new
<br />user_session POST /users/sign_in(.:format) devise/sessions#create
<br />destroy_user_session DELETE /users/sign_out(.:format) devise/sessions#destroy
<br />new_user_password GET /users/password/new(.:format) devise/passwords#new
<br />edit_user_password GET /users/password/edit(.:format) devise/passwords#edit
<br />user_password PATCH /users/password(.:format) devise/passwords#update
<br />PUT /users/password(.:format) devise/passwords#update
<br />POST /users/password(.:format) devise/passwords#create
<br />cancel_user_registration GET /users/cancel(.:format) devise/registrations#cancel
<br />new_user_registration GET /users/sign_up(.:format) devise/registrations#new
<br />edit_user_registration GET /users/edit(.:format) devise/registrations#edit
<br />user_registration PATCH /users(.:format) devise/registrations#update
<br />PUT /users(.:format) devise/registrations#update
<br />DELETE /users(.:format) devise/registrations#destroy
<br />POST /users(.:format) devise/registrations#create
<br />api_v1_index GET /api/v1/index(.:format) api/v1/home#index
<br />root GET / root#index<br />rails_service_blob GET /rails/active_storage/blobs/:signed_id/*filename(.:format) active_storage/blobs#show<br />rails_blob_representation GET /rails/active_storage/representations/:signed_blob_id/:variation_key/*filename(.:format) active_storage/representations#show<br />rails_disk_service GET /rails/active_storage/disk/:encoded_key/*filename(.:format) active_storage/disk#show
<br />update_rails_disk_service PUT /rails/active_storage/disk/:encoded_token(.:format) active_storage/disk#update
<br />rails_direct_uploads POST /rails/active_storage/direct_uploads(.:format) active_storage/direct_uploads#create</p>